asttokens==2.0.8
attrs==22.1.0
backcall==0.2.0
catboost==1.0.6
certifi==2022.6.15
charset-normalizer==2.1.1
cycler==0.11.0
debugpy==1.6.3
decorator==5.1.1
docopt==0.6.2
entrypoints==0.4
executing==0.10.0
fastjsonschema==2.16.1
fonttools==4.36.0
graphviz==0.20.1
idna==3.3
ipykernel==6.15.1
ipython==8.4.0
jedi==0.18.1
joblib==1.1.0
jsonschema==4.14.0
jupyter-client==7.3.4
jupyter-core==4.11.1
kiwisolver==1.4.4
matplotlib==3.5.3
matplotlib-inline==0.1.6
nbformat==5.4.0
nest-asyncio==1.5.5
numpy==1.23.2
packaging==21.3
pandas==1.4.3
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.2.0
pipreqs==0.4.11
plotly==5.10.0
prompt-toolkit==3.0.30
psutil==5.9.1
ptyprocess==0.7.0
pure-eval==0.2.2
Pygments==2.13.0
pyparsing==3.0.9
pyrsistent==0.18.1
python-dateutil==2.8.2
pytz==2022.2.1
pyzmq==23.2.1
requests==2.28.1
scikit-learn==1.1.2
scipy==1.9.0
seaborn==0.11.2
six==1.16.0
sklearn==0.0
stack-data==0.4.0
tenacity==8.0.1
threadpoolctl==3.1.0
tornado==6.2
traitlets==5.3.0
urllib3==1.26.12
wcwidth==0.2.5
yarg==0.1.9
